# Configuration de l'environnement
FLASK_ENV=development

# Configuration du logging
LOG_LEVEL=DEBUG
LOG_TO_FILE=true
LOG_TO_CONSOLE=true
LOG_FORMAT=detailed
LOG_MAX_FILE_SIZE=10485760
LOG_BACKUP_COUNT=5

# Configuration Firebase
FIREBASE_SERVICE_ACCOUNT_KEY=serviceAccountKey.json
GOOGLE_APPLICATION_CREDENTIALS=

# Configuration de sécurité
SECRET_KEY=your-secret-key-here

# Configuration de l'API
API_HOST=0.0.0.0
API_PORT=5000
